$window-color: #F7DF9F;
$primary-background-color: #EC5B4B;
$background-image: '../images/background-image.jpg';
$text-color: black;
$secondary-background-color: white;
$primary-font: 'Gotu', sans-serif;
$secondary-font: 'Lobster', serif;
